Repository interledgerjs/rafiki: changes, and which Codecov flags are due for each by the changed paths.
All: accounting-system, core, middleware

.codecov.yml:

flags:
  accounting-system:
    paths:
      - packages/rafiki-accounting-system/src
  core:
    paths:
      - packages/rafiki-core/src
  middleware:
    paths:
      - packages/rafiki-middleware/src

Chore/remove unused deps (#49)
  packages/rafiki-core/package.json
  scripts/sendIlpPacket.ts
  yarn.lock
Due: none

fix (timeout error) * Fix an error where timeout wouldn't clear itself if error thrown
  packages/rafiki-core/src/middleware/expire.ts
  scripts/sendIlpPacket.ts
Due: core

Fix/timeout error (#50)
  packages/rafiki-core/src/middleware/expire.ts
  scripts/sendIlpPacket.ts
Due: core

chore: release
  packages/rafiki-accounting-system/package.json
  packages/rafiki-admin-api/package.json
  packages/rafiki-connector/package.json
  packages/rafiki-core/package.json
  packages/rafiki-logger-pino/package.json
  packages/rafiki-middleware/package.json
Due: none

fix axios keep alive agent
  packages/rafiki-core/src/services/client/axios.ts
Due: core

fix axios keep alive agent (#51)
  packages/rafiki-core/src/services/client/axios.ts
Due: core

fix: * Remove axios keep alive agent as it has issues with https
  packages/rafiki-core/src/services/client/axios.ts
Due: core

fix: (#52)
  packages/rafiki-core/src/services/client/axios.ts
Due: core

refactor: publish canary on master
  .circleci/config.yml
  package.json
Due: none

refactor: add comment to test versioning
  packages/rafiki-accounting-system/src/index.ts
Due: accounting-system

refactor: add comment to test versioning (#53)
  packages/rafiki-accounting-system/src/index.ts
Due: accounting-system

chore: release
  packages/rafiki-accounting-system/CHANGELOG.md
  packages/rafiki-accounting-system/package.json
Due: none

refactor: revert circleci
  .circleci/config.yml
Due: none

refactor: revert package.json
  package.json
Due: none

chore: update main README
  README.md
Due: none

add onPush action
  .github/workflows/onPush.yml
Due: none

fix: onPush action
  .github/workflows/onPush.yml
Due: none

fix: branch comparison in onPush action
  .github/workflows/onPush.yml
Due: none

refactor: onPush action * publish only on master * upload codecov
  .github/workflows/onPush.yml
Due: none

refactor: add github actions badge
  README.md
Due: none

fix: * Fix a bug with zero copy packet modification * Add tests * Deprecate old copy functions
  packages/rafiki-core/src/lib/ilp.ts
  packages/rafiki-core/test/lib/utils.test.ts
Due: core

fix: (#61)
  packages/rafiki-core/src/lib/ilp.ts
  packages/rafiki-core/test/lib/utils.test.ts
Due: core

feat(docs): * Initial init of docusaurus
  .dockerignore
  Dockerfile
  docker-compose.yml
  docs/doc1.md
  docs/doc2.md
  docs/doc3.md
  docs/exampledoc4.md
  docs/exampledoc5.md
  website/README.md
  website/blog/2016-03-11-blog-post.md
  website/blog/2017-04-10-blog-post-two.md
  website/blog/2017-09-25-testing-rss.md
  website/blog/2017-09-26-adding-rss.md
  website/blog/2017-10-24-new-version-1.0.0.md
  website/core/Footer.js
  website/i18n/en.json
  website/package.json
  website/pages/en/help.js
  website/pages/en/index.js
  website/pages/en/users.js
  website/sidebars.json
  website/siteConfig.js
  website/static/css/custom.css
  website/static/img/favicon.ico
  website/static/img/oss_logo.png
  website/static/img/undraw_code_review.svg
  website/static/img/undraw_monitor.svg
  website/static/img/undraw_note_list.svg
  website/static/img/undraw_online.svg
  website/static/img/undraw_open_source.svg
  website/static/img/undraw_operating_system.svg
  website/static/img/undraw_react.svg
  website/static/img/undraw_tweetstorm.svg
  website/static/img/undraw_youtube_tutorial.svg
  website/yarn.lock
Due: none

chore: deprecate circleci
  .circleci/config.yml
Due: none

chore: add changelogs for packages
  packages/rafiki-accounting-system/CHANGELOG.md
  packages/rafiki-admin-api/CHANGELOG.md
  packages/rafiki-connector/CHANGELOG.md
  packages/rafiki-core/CHANGELOG.md
  packages/rafiki-logger-pino/CHANGELOG.md
  packages/rafiki-middleware/CHANGELOG.md
  packages/rafiki-utils/CHANGELOG.md
Due: none

chore: update workflows * replace onpush workflow with build and publish
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

fix: publish workflow
  .github/workflows/publish.yml
Due: none

chore: release
  packages/rafiki-accounting-system/CHANGELOG.md
  packages/rafiki-accounting-system/package.json
  packages/rafiki-admin-api/CHANGELOG.md
  packages/rafiki-admin-api/package.json
  packages/rafiki-connector/CHANGELOG.md
  packages/rafiki-connector/package.json
  packages/rafiki-core/CHANGELOG.md
  packages/rafiki-core/package.json
  packages/rafiki-logger-pino/CHANGELOG.md
  packages/rafiki-logger-pino/package.json
  packages/rafiki-middleware/CHANGELOG.md
  packages/rafiki-middleware/package.json
  packages/rafiki-utils/CHANGELOG.md
  packages/rafiki-utils/package.json
Due: none

refactor: workflows * build on all branches except master * build on PRs to master * publish on pushes to master
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

chore: update readme
  README.md
Due: none

feat(docs): * docs update
  docs/intro.md
  website/i18n/en.json
  website/sidebars.json
  website/siteConfig.js
Due: none

fix (rafiki-core): fix bug with looking in maxPacketAmount middleware
  packages/rafiki-middleware/src/max-packet-amount.ts
Due: middleware

fix (rafiki-core): fix bug with looking in maxPacketAmount middleware
  packages/rafiki-middleware/test/max-packet-amount.test.ts
Due: none

fix (rafiki-core): fix bug with looking in maxPacketAmount middleware (#63)
  packages/rafiki-middleware/src/max-packet-amount.ts
  packages/rafiki-middleware/test/max-packet-amount.test.ts
Due: middleware

chore: release
  packages/rafiki-connector/CHANGELOG.md
  packages/rafiki-connector/package.json
  packages/rafiki-middleware/CHANGELOG.md
  packages/rafiki-middleware/package.json
Due: none

feature (rafiki-connector):
  packages/rafiki-admin-api/src/index.ts
  packages/rafiki-connector/package.json
  packages/rafiki-connector/src/index.ts
Due: none
